/*
* @Author: guangled
* @Date:   2017-03-25 13:16:57
* @Last Modified by:   guangled
* @Last Modified time: 2017-03-26 02:15:45
*/

html,body {  
	margin: 0;
	padding: 0;
	height:100%;
}

.map {
	height: 100%;
	z-index: -1;
}

.container,
.app,
.mainb {
	box-sizing: content-box;
	max-width: 1600px;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
.title{
	margin-right: 0;
	margin-left:0;
	font-size: 20px;
	width: 80%;

}
.button{
	float:right;
}
