/*
* @Author: guangled
* @Date:   2017-03-25 13:16:57
* @Last Modified by:   guangled
* @Last Modified time: 2017-03-26 08:57:50
*/

html,body {  
	margin: 0;
	padding: 0;
	height:100%;
}

.map {
	height: 100%;
	z-index: 0;
	position: relative;
}

.container,
.app,
.mainb {
	box-sizing: content-box;
	max-width: 2000px;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
.title{
	margin-right: 0;
	margin-left:0;
	font-size: 20px;
	width: 80%;

}
.button{
	float:right;
}

.front {
	position: absolute;
    width: 30%;
    height: 100%;
    padding-top: 40px;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 10;
}

.front-des {
	background-color: rgba(255, 255, 255, 0.3);
}